
.gallery-container {
    position: relative;
    max-width: 800px;
    margin: auto;
}

.gallery {
    display: flex;
    overflow: hidden;
}

.gallery-item {
    min-width: 100%;
    transition: transform 0.5s ease;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #4EB543;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}


.prev { 
    left: 10px; 
    top: 40%; /* устанавливаем кнопки выше центра */
}

.next { 
    right: 10px; 
    top: 40%; /* устанавливаем кнопки выше центра */
}
nav {
    margin: 15px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px 15px; /* Отступы внутри квадрата */
    background-color: #4EB543; /* Зелёный фон */
    color: #FFFFFF; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px; /* Скругление углов */
    transition: background-color 0.3s; /* Плавный переход при наведении */
}

nav ul li a:hover {
    background-color: #4eb543cc; /* Затемнение при наведении */
}
